<div
    class="col-span-12 sm:col-span-{{object.widths.sm}} md:col-span-{{object.widths.md}} xl:col-span-{{object.widths.xl}} 2xl:col-span-{{object.widths.2xl}} sm:order-{{object.order.sm}} md:order-{{object.order.md}} xl:order-{{object.order.xl}} 2xl:order-{{object.order.2xl}}">
    <label for="{{ object.get_label }}" class="block cursor-pointer">

        <div class="flex justify-between">
            <span class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                {{ object.get_label }}
            </span>

            {% if object.optional %}
            <span id="{{ object.get_label }}-optional" class="text-sm/6 text-gray-500 dark:text-gray-400">
                Optional
            </span>
            {% endif %}
        </div>

        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25
             px-6 py-10 hover:border-indigo-500
             dark:border-white/25 dark:hover:border-indigo-400">
            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="mx-auto size-12 text-gray-300 dark:text-gray-600">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
                </svg>

                <p class="mt-4 text-sm/6 text-gray-600 dark:text-gray-400">
                    Click to upload
                </p>

                {% if object.get_help_text %}
                <p class="mt-1 text-xs/5 text-gray-600 dark:text-gray-400">
                    {{ object.get_help_text }}
                </p>
                {% endif %}
            </div>
        </div>

        <input id="{{ object.get_label }}" name="{{ object.get_label }}" type="file" class="sr-only" />
    </label>

    {% if field_has_error %}
    <p id="{{object.get_label}}-error" class="mt-2 text-sm text-red-600 dark:text-red-400">Not a valid
        {{object.get_label}} address.</p>
    {% endif %}
</div>